.app {
  padding-top: 100px;
  height: 100%;
  color: white;
  font-size: 50px;

  header {
    padding: 15px 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    h3 {
      width:  400px;
      margin: auto;
      clear: both;
      text-align: center;
      position: relative;
      top: -45px;
      font-size: 35px;
    }

    i {
      cursor: pointer;
      transition: color ease 0.35s;

      &:hover {
        color: $text-color;
      }
    }

    #leave {
      float: left;
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }

    #toggle {
      float: right;
    }
  }

  footer {
    text-align: center;
    background-color: darkred;
    cursor: pointer;
  }
}

.hidden {
  visibility: "hidden";
}

.visible {
  visibility: "visible";
}

#add-users {
  text-align: center;

  .modal-content {
    padding: 20px;
  }

  h1 {
    margin-bottom: 10px;
    margin-left: 10px;

    &::before {
      content: ' ';
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url('images/ajax_loader.gif');
      background-size: 100% 100%;
      position: relative;
      left: -12px;
      top: 3px;

    }
  }

  button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-weight: bold;
  }
}