.app-top{
	background-color:$primary-color;
	color:$text-color;
	height:5%;	

	button{
		display:inline;
		height: 100%;
	}
}

.hidden{
	visibility: "hidden";
}
.visible{
	visibility: "visible";
}


#toggle{
	float:right;
}