@mixin animation($animation) {
  -webkit-animation: #{$animation}; /* Safari 4+ */
  -moz-animation:    #{$animation}; /* Fx 5+ */
  -o-animation:      #{$animation}; /* Opera 12+ */
  animation:         #{$animation}; /* IE 10+, Fx 29+ */
}

@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content;
  }

  @-moz-keyframes $name {
    @content;
  }

  @-o-keyframes $name {
    @content;
  }

  @keyframes $name {
    @content;
  }
}