<template name='app'>
	<div class="app-top">
		<button text="Leave" id="leave">Leave</button>	
		<button><i id="toggle" class={{toggleIcon}}></i></button>
	</div>    
        <div class={{friendVisible}}>
           {{> friendList}}
        </div>
        <div class={{compassVisible 1}}>    	   
           {{> compass}}
        </div>
        <div class={{compassVisible 2}}>
           {{> map}} 
        </div>    
    <div class="app-bottom">
    	<button>{{rallyText}}</button>
    </div>
</template>
