<template name='app'>
    <div class='app'>
    	<header>
        <h3>Confirm your party</h3>
    		<i id="leave" class="fa fa-sign-out" ></i>	
    		<i id="toggle" class="{{toggleIcon}}"></i>
    	</header>    

        <main>
            <div class={{friendVisible}}>
                {{> friendList}}
            </div>
            <div class={{compassVisible 1}}>           
               {{> compass}}
            </div>
            <div class={{compassVisible 2}}>
               {{> map}} 
            </div>       
        </main>

        <footer class="app-bottom">
        	{{rallyText}}
        </footer>
    </div>

    <div id='add-users' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h1>Syncing</h1>
            <button class='stop btn btn-primary'>stop</button>
        </div>
      </div>
    </div>
</template>
